input {
    text-align: center;
}

#space {
    height: 30px;
}

#container {
    text-align: center;
}

ul {
    text-align: center;
}
li{
   font-size: 20px;
    border: groove red 1px;
    width: 200px;
    margin: 0px auto;
}
#number_input{
    width: 150px;
}
#input_sub{
    width: 80px;
}
button{
    text-align: center;
    width: 100px;
    margin: 0px auto;
}
body{
    text-align: center;
}