#container{
    text-align: center;
}
#elem{
    margin: 0px auto;
    font-size: 24px;
    border-style: solid;
    width: 400px;
    background-color: cyan;
    border-radius: 10px;
}
#space{
    height: 60px;
}